<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h2>evaluate <%= 2+3+8 %></h2>
    <!-- ejs ke andar logic likhna is not a good practice -->

    <h2>my num is <%= num %></h2>

    <% if(num %2 == 0){ %>
        <h2>even number</h2>
    <% } else{ %>
        <h2>odd number</h2>
    <% } %>



</body>
</html>